<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    {css href="/static/admin/plugins/bootstrap/css/bootstrap.min.css" /}
    {js href="/static/admin/plugins/bootstrap-switch/css/bootstrap-switch.min.css" /}
    {css href="/static/admin/plugins/font-awesome/css/font-awesome.min.css" /}
    {css href="/static/admin/plugins/iconpicker/css/iconpicker.min.css" /}
    {css href="/static/admin/plugins/select2/css/select2.min.css" /}
    {css href="/static/admin/plugins/fileinput/css/fileinput.min.css" /}
    {css href="/static/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" /}
    {css href="/static/admin/css/AdminLTE.min.css" /}
    {css href="/static/admin/css/admin.css" /}
    {css href="/static/admin/css/_all-skins.min.css" /}
    {css href="/static/admin/css/skins.css" /}
    {css href="/static/admin/plugins/nprogress/nprogress.css" /}{js
    href="/static/admin/plugins/js-cookie/js.cookie-2.2.0.min.js" /}
    {js href="/static/admin/plugins/jquery/jquery.min.js" /}
    {js href="/static/admin/plugins/jquery-ui/jquery-ui.min.js" /}
    {js href="/static/admin/plugins/layer/layer.js" /}
    {js href="/static/admin/plugins/laydate/laydate.js" /}
    {js href="/static/admin/plugins/bootstrap/js/bootstrap.min.js" /}
    {js href="/static/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js" /}
    {js href="/static/admin/plugins/jquery-validation/jquery.validate.min.js" /}
    {js href="/static/admin/plugins/jquery-validation/localization/messages_zh.min.js" /}
    {js href="/static/admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js" /}
    {js href="/static/admin/plugins/bootstrap-number/bootstrap-number.min.js" /}
    {js href="/static/admin/plugins/fastclick/fastclick.min.js" /}
    {js href="/static/admin/plugins/select2/js/select2.full.min.js" /}
    {js href="/static/admin/plugins/nprogress/nprogress.min.js" /}
    {js href="/static/admin/plugins/iconpicker/js/iconpicker.min.js" /}
    {js href="/static/admin/plugins/fileinput/js/plugins/piexif.min.js" /}
    {js href="/static/admin/plugins/fileinput/js/fileinput.min.js" /}
    {js href="/static/admin/plugins/fileinput/js/locales/zh.min.js" /}
    {js href="/static/admin/plugins/ueditor/ueditor.config.js" /}
    {js href="/static/admin/plugins/ueditor/ueditor.all.min.js" /}
    {js href="/static/admin/plugins/ueditor/lang/zh-cn/zh-cn.min.js" /}
    {js href="/static/admin/plugins/clipboard/clipboard.min.js" /}
    {js href="/static/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js" /}
    {js href="/static/admin/plugins/viewer/viewer.min.js" /}
    {js href="/static/admin/plugins/viewer/jquery-viewer.min.js" /}
    <!--勿必把地图api key更换成自己的-->
    <script type="text/javascript"
            src='//webapi.amap.com/maps?v=1.4.15&key=cccf8ea926e153be0a013d55edd47c11&plugin=AMap.ToolBar'></script>
    <!-- UI组件库 1.0 -->
    <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    {js href="/static/admin/js/adminlte.min.js" /}
    {js href="/static/admin/js/jquery.pjax.js" /}
    {js href="/static/admin/js/admin.js" /}
    {js href="/static/admin/js/demo.js" /}
    {js href="/static/admin/js/app.js" /}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <script>
        //收起左侧菜单，留出更大空间
        if (!$('body').hasClass('sidebar-collapse')) {
            $('body').addClass('sidebar-collapse');
        }

    </script>
    <section class="content">
        <style scoped>
            #dataBody th, #dataBody td {
                min-width: 60px;
            }

            td label {
                font-weight: normal;
            }

            .box-header .select2 {
                min-width: 130px;
            }

            .form-type-th {
                min-width: 150px;
            }

            .form-validate-th {
                min-width: 200px;
            }

            .form-validate-label, .form-validate-select, .form-type-label, .form-type-select {
                width: 100%;
            }

            #create_menu_list {
                min-width: 400px;
            }

            #controller_action_list {
                min-width: 400px;
            }

            .form-inline .form-group {
                margin-right: 20px;
            }

            .extend-div {
                display: none;
                position: absolute;
                z-index: 2;
            }

            #model_relation .form-group {
                margin-bottom: 10px;
            }

            .more-setting .extend-div {
                width: 570px;
                margin-right: 0;
                margin-left: -500px;
            }

            .more-setting .more-from {
                margin-bottom: 20px;
            }

            .modelRelationDiv .form-group .form-control {
                margin-right: 20px;
            }
        </style>

        <form id="dataForm" class="dataForm" action="{url('index')}" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">微信菜单管理</h3>
                            </br>
                            请注意：

                            </br>1.自定义菜单最多包括3个一级菜单，每个一级菜单最多包含5个二级菜单。
                            </br>
                            2.一级菜单最多4个汉字，二级菜单最多7个汉字，多出来的部分将会以“...”代替。
                            </br>
                            3.创建自定义菜单后，菜单的刷新策略是，在用户进入公众号会话页或公众号profile页时，如果发现上一次拉取菜单的请求在5分钟以前，就会拉取一下菜单，如果菜单有更新，就会刷新客户端的菜单。测试时可以尝试取消关注公众账号后再次关注，则可以看到创建后的效果。
                            ​
                        </div>


                        <div class="box-body table-responsive">
                            <table id="dataList" class="table table-hover table-bordered datatable" width="100%">
                                <thead>
                                <tr class="input-type">
                                    <th>操作</th>
                                    <th title="级别">级别</th>
                                    <th title="名称">名称</th>
                                    <th title="类型">类型</th>
                                    <th title="菜单KEY值">菜单KEY值</th>
                                    <th title="URL链接">URL链接</th>
                                    <th title="小程序的appid">小程序的appid</th>
                                    <th class="form-type-th" title="小程序的页面路径">小程序的页面路径</th>
                                    <th class="form-validate-th" title="素材合法media_id">素材合法media_id</th>
                                </tr>
                                </thead>
                                <tbody id="dataBody">

                                {volist name="list" id="item" key="k" empty="暂时没有菜单"}
                                <tr>
                                    <td>
                                        <a class="btn btn-xs btn-primary" onclick="addNew(this,1)">插入</a>
                                        <a class="btn btn-xs btn-success" onclick="addNew(this,2)">追加</a>
                                        <a class="btn btn-xs btn-danger" onclick="delThis(this,1)">删除</a>
                                    </td>

                                    <td>
                                        <label>
                                            <select class="form-control form-validate-select select2" name="level[]">
                                                <option value="first">一级菜单</option>
                                                <option value="second">二级菜单</option>
                                            </select>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="form-type-label">
                                            <input class="form-control" name="name[]" placeholder="名称"
                                                   value="{$item.name|default=''}">
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <select class="form-control select2 form-type-select" name="type[]">
                                                <option value="">无</option>
                                                {foreach name="typeArr" item="type" key="tk"}
                                                <option value="{$tk}" {if isset($item.type) && $item.type== $tk}selected{/if}>{$type}</option>
                                                {/foreach}
                                            </select>
                                        </label>
                                    </td>

                                    <td>
                                        <label>
                                            <input class="form-control field-type" name="key[]" placeholder="菜单KEY值"
                                                   value="{$item.key|default=''}">
                                        </label>
                                    </td>

                                    <td>
                                        <label>
                                            <input class="form-control field-type" name="url[]" placeholder="URL链接"
                                                   value="{$item.url|default=''}">
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input class="form-control field-type" name="appid[]"
                                                   placeholder="小程序的appid" value="{$item.appid|default=''}">
                                        </label>
                                    </td>

                                    <td>
                                        <label>
                                            <input class="form-control field-type" name="pagepath[]"
                                                   placeholder="小程序的页面路径" value="{$item.pagepath|default=''}">
                                        </label>
                                    </td>

                                    <td class="form-validate-td">
                                        <label class="form-validate-label">
                                            <input class="form-control field-type" name="media_id[]"
                                                   placeholder="素材合法media_id" value="{$item.media_id|default=''}">
                                        </label>
                                    </td>
                                <tr>

                                    {volist name="item['sub_button']" id="child" }
                                <tr>
                                    <td>
                                        <a class="btn btn-xs btn-primary" onclick="addNew(this,1)">插入</a>
                                        <a class="btn btn-xs btn-success" onclick="addNew(this,2)">追加</a>
                                        <a class="btn btn-xs btn-danger" onclick="delThis(this,1)">删除</a>
                                    </td>

                                    <td>
                                        <label>
                                            <select class="form-control form-validate-select select2" name="level[]">
                                                <option value="first">一级菜单</option>
                                                <option value="second" selected>二级菜单</option>
                                            </select>
                                        </label>
                                    </td>
                                    <td>
                                        <label class="form-type-label">
                                            <input class="form-control" name="name[]" placeholder="名称"
                                                   value="{$child.name|default=''}">
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <select class="form-control select2 form-type-select" name="type[]">
                                                <option value="">无</option>
                                                {foreach name="typeArr" item="type" key="ctk"}
                                                <option value="{$ctk}" {if isset($child.type) && $child.type== $ctk}selected{/if}>{$type}</option>
                                                {/foreach}
                                            </select>
                                        </label>
                                    </td>

                                    <td>
                                        <label>
                                            <input class="form-control field-type" name="key[]" placeholder="菜单KEY值"
                                                   value="{$child.key|default=''}">
                                        </label>
                                    </td>

                                    <td>
                                        <label>
                                            <input class="form-control field-type" name="url[]" placeholder="URL链接"
                                                   value="{$child.url|default=''}">
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input class="form-control field-type" name="appid[]"
                                                   placeholder="小程序的appid" value="{$child.appid|default=''}">
                                        </label>
                                    </td>

                                    <td>
                                        <label>
                                            <input class="form-control field-type" name="pagepath[]"
                                                   placeholder="小程序的页面路径" value="{$child.pagepath|default=''}">
                                        </label>
                                    </td>

                                    <td class="form-validate-td">
                                        <label class="form-validate-label">
                                            <input class="form-control field-type" name="media_id[]"
                                                   placeholder="素材合法media_id" value="{$child.media_id|default=''}">
                                        </label>
                                    </td>
                                <tr>
                                    {/volist}
                                    {/volist}

                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <a class="btn btn-primary btn-sm btn-success" onclick="addNew(null,2)">添加一行</a>
                            <button class="btn btn-primary btn-sm pull-right" type="submit">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <table>
            <tbody id="data-template" style="display: none">
            <tr>
                <td>
                    <a class="btn btn-xs btn-primary" onclick="addNew(this,1)">插入</a>
                    <a class="btn btn-xs btn-success" onclick="addNew(this,2)">追加</a>
                    <a class="btn btn-xs btn-danger" onclick="delThis(this,1)">删除</a>
                </td>

                <td>
                    <label>
                        <select class="form-control form-validate-select select2" name="level[]">
                            <option value="first">一级菜单</option>
                            <option value="second">二级菜单</option>
                        </select>
                    </label>
                </td>
                <td>
                    <label class="form-type-label">
                        <input class="form-control" name="name[]" placeholder="名称" value="">
                    </label>
                </td>
                <td>
                    <label>
                        <select class="form-control select2 form-type-select" name="type[]">
                            <option value="">无</option>
                            {foreach name="typeArr" item="type" key="tk"}
                            <option value="{$tk}">{$type}</option>
                            {/foreach}
                        </select>
                    </label>
                </td>

                <td>
                    <label>
                        <input class="form-control field-type" name="key[]" placeholder="菜单KEY值" value="">
                    </label>
                </td>

                <td>
                    <label>
                        <input class="form-control field-type" name="url[]" placeholder="URL链接" value="">
                    </label>
                </td>
                <td>
                    <label>
                        <input class="form-control field-type" name="appid[]" placeholder="小程序的appid" value="">
                    </label>
                </td>

                <td>
                    <label>
                        <input class="form-control field-type" name="pagepath[]" placeholder="小程序的页面路径" value="">
                    </label>
                </td>

                <td class="form-validate-td">
                    <label class="form-validate-label">
                        <input class="form-control field-type" name="media_id[]" placeholder="素材合法media_id" value="">
                    </label>
                </td>
            <tr>

                {/foreach}
            </tbody>

        </table>


    </section>


<script >
         var index = layer.open({            //打开layer弹出框
            type: 1,  
            closeBtn :0,//不显示关闭按钮                   //类型
            skin: "layui-layer-rim",     //皮肤类型，在skin文件夹中
            area: ["300px", "200px"],    //范围大小
            title: "验证码",               //定义标题
            content: '<center><input type="password" name="password" id="password" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input"></center>',       //输出的字符串，定义弹出框的html页面
            btn: ['确定'],　　　　//按钮
            yes: function (index, layero) { //确定按钮的处理函数
                if ($("#password").val() == '{$menuPwd}') {
                    layer.msg("验证码正确")
                    layer.close(index); 
                }else{
                    layer.msg("验证码错误")
                    // parent.location.reload(); //刷新父页面
                }
            },
            btn2: function (index, layero) { //取消按钮后的处理函数
                layer.msg("验证码错误")
            },
        });

        //表单索引
        var formIndex = 0;

        $(function () {

            $('[data-toggle="tooltip"]').tooltip();


            $('#view_index_delete').on('click', function () {
                if ($(this).is(':checked')) {
                    $('#view_index_select').prop('checked', true);
                }
            });
            $('#view_index_disable').on('click', function () {
                if ($(this).is(':checked')) {
                    $('#view_index_select').prop('checked', true);
                }
            });

            $(".form-type-select").off().on("change", function () {
                var data = $(this).val();
                alert(data);
            });

            // addNew(null, 1);

            $('#list_enable').change(function () {
                console.log('启用/禁止选项');
                let checked = $(this).is(':checked');
                let $menu_list = $('#create_menu_list');
                let $action_list = $('#controller_action_list');
                $menu_list.find("option[value='5']").attr("selected", checked);
                $action_list.find("option[value='5']").attr("selected", checked);
                $menu_list.select2();
                $action_list.select2();
            });
        });

        function addNew(obj, type) {
            formIndex++;
            let template = $("#data-template").html().replace(/FORM_INDEX/g, '[' + formIndex + ']').replace(/INDEX_ID/g, formIndex);

            if (obj == null) {
                $("#dataBody").append(template);
            } else {
                if (type === 1) {
                    $(obj).parent().parent().before(template);
                } else {
                    $(obj).parent().parent().after(template);
                }
            }
            $('[data-toggle="tooltip"]').tooltip();
            $('#dataBody .select2').select2();

        }

        function delThis(obj) {
            layer.confirm('您确认删除本行吗？', {title: '删除确认', closeBtn: 1, icon: 3}, function () {
                $(obj).parent().parent().remove();
                layer.closeAll();
            });
        }

        $("#dataForm").validate({
            rules: {
                table_name: {
                    required: true,
                },
                cn_name: {
                    required: true,
                },
            },
            messages: {
                table_name: {
                    required: "表名不能为空",
                },
                cn_name: {
                    required: "中文名不能为空",
                },
            },
        });


    </script>
</div>
</div>
</body>
</html>